.industries-container {
  color: black;
  text-align: center;
  padding: 50px 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background-color: #e86f25;
    margin: 1rem auto 0;
  }
}

.highlight {
  color: #e67e22;
}

.subtitle {
  font-style: italic;
  color: #19191b;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin: 0 auto;
}

.industry-item {
  text-align: center;
  padding: 20px;
}

.icon-wrapper {
  width: 80px;
  height: 80px;
  background: rgba(230, 126, 34, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;

  i {
    color: rgba(232, 111, 37, 1);
    font-size: 2.1rem;
  }
}

.icon-wrapper img {
  width: 30px;
  height: 30px;
}

.industry-title {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.industry-description {
  font-size: 14px;
  color: #666;
}

@media (max-width: 1024px) {
  .industries-container {
    background-color: white;
  }
}
