<div class="industries-container">
  <h2 class="title">Industries <span class="highlight">we cover</span></h2>
  <p class="subtitle">One stop solution for all needs</p>

  <div class="grid-container">
    <div class="industry-item" *ngFor="let industry of industries">
      <div class="icon-wrapper">
        <i class="ph-bold" [ngClass]="industry.icon"></i>
      </div>
      <h3 class="industry-title">{{ industry.name }}</h3>
      <p class="industry-description">
        Talent mapping, C-suite and Senior Management hiring and pipelining
        talents for future hirings
      </p>
    </div>
  </div>
</div>
