.wrapper {

  .header {
    padding: 8rem 3rem 3rem;
    background-color: rgb(254, 251, 249);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-top: 1rem;
      font-size: 2rem;
      color: black;
      font-weight: 900;
    }

    .description {
      margin-top: 1rem;
      font-size: 0.9rem;
      font-weight: 600;
      color: rgba(115, 115, 115, 1);
    }
  }

  .content {
    padding: 3rem;
  }
}