<section class="it-services">
  <h2>IT Services</h2>
  <div class="services-grid">
    <div class="service-card highlighted">
      <div class="service-content">
        <span class="service-icon"><i class="ph-thin ph-film-slate"></i></span>
        <span class="service-title">Artificial Intelligence</span>
      </div>
      <span class="arrow"><i class="ph-bold ph-arrow-right"></i></span>
    </div>

    <div class="service-card">
      <span class="service-title">Cognitive Business Operations</span>
      <span class="arrow"><i class="ph-bold ph-arrow-right"></i></span>
    </div>

    <div class="service-card">
      <span class="service-title">Consulting</span>
      <span class="arrow"><i class="ph-bold ph-arrow-right"></i></span>
    </div>

    <div class="service-card highlighted">
      <div class="service-content">
        <span class="service-icon"
          ><i class="ph-thin ph-shopping-bag"></i
        ></span>
        <span class="service-title">Cybersecurity</span>
      </div>
      <span class="arrow"><i class="ph-bold ph-arrow-right"></i></span>
    </div>

    <div class="service-card highlighted">
      <div class="service-content">
        <span class="service-icon"
          ><i class="ph-thin ph-shopping-bag"></i
        ></span>
        <span class="service-title">Data and Analytics</span>
      </div>
      <span class="arrow"><i class="ph-bold ph-arrow-right"></i></span>
    </div>

    <div class="service-card">
      <span class="service-title">Enterprise Solutions</span>
      <span class="arrow"><i class="ph-bold ph-arrow-right"></i></span>
    </div>

    <div class="service-card">
      <span class="service-title">IOT and Digital Engineering</span>
      <span class="arrow"><i class="ph-bold ph-arrow-right"></i></span>
    </div>

    <div class="service-card highlighted">
      <div class="service-content">
        <span class="service-icon"><i class="ph-thin ph-engine"></i></span>
        <span class="service-title">Sustainability Services</span>
      </div>
      <span class="arrow"><i class="ph-bold ph-arrow-right"></i></span>
    </div>
  </div>
</section>
