<div class="wrapper">
  <div class="header">
    <h2>What are you looking for?</h2>
  </div>

  <div class="form-container">
    <div class="radio-group">
      <label [class.selected]="selectedOption === 'vendor'">
        <input
          type="radio"
          name="option"
          value="vendor"
          [(ngModel)]="selectedOption"
        />
        Vendor Management
      </label>

      <label [class.selected]="selectedOption === 'candidate'">
        <input
          type="radio"
          name="option"
          value="candidate"
          [(ngModel)]="selectedOption"
          checked
        />
        Candidate Growth
      </label>
    </div>

    <!-- Candidate Growth Form -->
    <div *ngIf="selectedOption === 'candidate'" class="form-content">
      <div class="form-group">
        <label>Select the role</label>
        <select>
          <option>Select from below</option>
        </select>
      </div>

      <div class="form-group">
        <label>Enter your name</label>
        <input type="text" placeholder="Phone number" />
      </div>

      <div class="form-group">
        <label>Preferred Location</label>
        <select>
          <option>Select from below</option>
        </select>
      </div>

      <div class="form-group">
        <label>Email Address</label>
        <input type="email" placeholder="Enter mail id" />
      </div>

      <div class="form-group upload">
        <label>Upload Resume</label>
        <div class="upload-box">
          <span>Attached file</span>
          <i class="ph-bold ph-cloud-arrow-up" style="font-size: 1.5rem"></i>
        </div>
      </div>
    </div>

    <!-- Placeholder for Vendor Management Form -->
    <div *ngIf="selectedOption === 'vendor'" class="form-content">
      <div class="form-group">
        <label>Select the purpose</label>
        <select>
          <option>Select from below</option>
        </select>
      </div>

      <div class="form-group">
        <label>Company name</label>
        <input type="text" placeholder="Company name" />
      </div>

      <div class="form-group">
        <label>Enter you name</label>
        <select>
          <option>John Doe</option>
        </select>
      </div>

      <div class="form-group">
        <label>Email Address</label>
        <input type="email" placeholder="Enter mail id" />
      </div>

      <div class="form-group">
        <label>Mobile Number</label>
        <input type="email" placeholder="9999999999" />
      </div>

      <div class="form-group">
        <label>Location</label>
        <input type="email" placeholder="Location" />
      </div>
    </div>

    <button class="submit-btn">Submit</button>
  </div>
</div>
