<div class="about-wrapper">
  <div class="content-section">
    <div class="about">
      <div>
        <h6>ABOUT</h6>
      </div>
      <div>
        <p>We Believe In Quality Over Quantity.</p>
      </div>
      <div><img src="assets/footer-logo.svg" alt="" loading="lazy" /></div>
    </div>
    <!-- <div class="services">
      <h6 style="color: white" [routerLink]="['/services']">Services</h6>
      <h6 style="color: white" [routerLink]="['/industries']">Industries</h6>
      <h6 style="color: white" [routerLink]="['/careers']">Careers</h6>
      <h6 style="color: white" [routerLink]="['/contact']">Contact</h6>
    </div> -->

    <div class="details">
      <div class="located-in">
        <i class="ph-bold ph-map-pin"></i> We are located in
      </div>

      <div class="address">
        <p>Twinpacs Kuala Lumpur Malaysia</p>
      </div>
      <div class="address">
        <p>Twinpacs Global Solutions Pvt Ltd Hyderabad, India</p>
      </div>
    </div>
  </div>
  <div class="social-section">
    <div class="social-links">
      <div class="social">
        <i class="ph-bold ph-meta-logo"></i>
      </div>

      <div class="social">
        <i class="ph-bold ph-instagram-logo"></i>
      </div>
    </div>
    <div class="credits">2025 Twinpacs</div>
    <div class="mobile-logo"><img src="assets/footer-logo.svg" alt="" loading="lazy" /></div>
  </div>
</div>