.about-wrapper {
  padding: 2rem;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h6 {
    font-size: 1rem;
    font-weight: 600;
  }
  .content-section {
    width: 80%;
    align-self: center;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(255, 255, 255, 1);

    .about {
      max-width: 17rem;
      color: white;
      text-align: left; /* Ensures all text aligns left */
    }

    .about h6 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 2rem; /* Removes default margins */
      padding: 0;
    }

    .about p {
      font-size: 0.75rem;
      margin: 0; /* Removes extra spacing */
      padding: 0;
      text-align: left; /* Ensures paragraph aligns left */
      font-style: italic;
    }

    .about img {
      margin-top: 1rem;
      width: 9.93rem;
      height: 7.37rem;
      display: block; /* Ensures image aligns left */
      margin-top: 2rem;
    }

    .services {
      text-align: left;
      ul {
        padding-left: 0;
        li {
          text-align: left;
          margin: 1rem 0;
          font-size: 0.75rem;
          color: rgba(255, 255, 255, 0.5);
          list-style-type: none;
          cursor: pointer;
        }
      }
    }

    .details {
      text-align: left;
      color: rgba(255, 255, 255, 1);
      .located-in {
        text-align: left;
        font-size: 1rem;
      }

      .address {
        text-align: left;
        margin-top: 1rem;
        font-size: 0.75rem;
      }

      i {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .social-section {
    .mobile-logo {
      display: none;
    }
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .social-links {
      display: flex;
      justify-content: center;
      flex-direction: row;

      .social {
        margin: 1rem;
        margin-left: 1rem;
      }
    }

    .credits {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// .mobile-about-wrapper {
//   display: none;
// }

@media screen and (max-width: 1024px) {
  .about-wrapper {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    padding-bottom: 5rem !important;

    .content-section {
      display: flex;
      flex-direction: column;
      margin: 0;
      border-bottom: 0px;

      .about {
        h6 {
          margin-top: 4rem !important;
          margin: 0;
          margin-bottom: 2rem;
        }
        p {
          margin-bottom: 2rem;
          font-style: italic;
        }
        img {
          display: none !important;
        }
      }
    }

    .social-section {
      .mobile-logo {
        display: block;
      }
      height: 100%;
      overflow-y: scroll;

      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      .credits {
        display: none;
      }
    }
  }
}
