<div class="footer-wrapper">
  <div class="container">
    <footer>
      <div class="footer-container">
        <div class="about">
          <h6>ABOUT</h6>
          <p>
            At Talent Mapping, C-Suite And Senior Management Hiring And
            Pipelining Talents For Future Hirings
          </p>
          <div class="logo">
            <img src="logo.png" alt="TwinPacs Logo" />
            <!-- Replace with actual logo path -->
          </div>
        </div>
        <div class="services">
          <div>
            <h6>SERVICES</h6>
          </div>
          <div>
            <ul>
              <li><a href="#industries">Industries</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#careers">Careers</a></li>
            </ul>
          </div>
        </div>
        <div class="subscribe">
          <div class="subscribe-container">
            <form class="subscribe-form" action="#" method="post">
              <div>
                <input
                  type="email"
                  name="email"
                  placeholder="Email address"
                  required
                />
              </div>
              <div>
                <button type="submit">
                  Subscribe
                  <span>→</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="footer-logo"></div>

      <div class="footer-social-credits">
        <div class="social">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        <div class="credits">
          <p>&copy; 2021 Talent Mapping. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>
</div>
