.wrapper {
  .header {
    padding: 3rem;
    background-color: rgb(254, 251, 249);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      margin-top: 1rem;
      font-size: 2rem;
      color: black;
      font-weight: 900;
    }
    .description {
      margin-top: 1rem;
      font-size: 0.9rem;
      font-weight: 600;
      color: rgba(115, 115, 115, 1);
    }
  }

  .content {
    padding: 3rem;
    .images-wrapper {
      display: flex;
      flex-wrap: wrap; // Ensures items move to the next row if no space
      gap: 50px; // Adds space between images
      justify-content: center; // Centers the images horizontally
      padding: 20px; // Optional padding

      .image-container {
        margin: 0 1.5rem;
        position: relative;
        width: 19.6rem;
        border-radius: 10px; /* Optional for rounded edges */
      }

      .image-container img {
        width: 23.6rem;
        height: 21.4rem;
        display: block;
      }

      .overlay-text {
        position: absolute;
        left: 48%;
        top: 85%;
        transform: translateX(-50%);
        padding: 8px 15px;
        font-size: 1rem;
        font-weight: 700;
        color: white;
        text-align: center;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    width: 100%;
    .header {
      padding: 3rem;
      padding-bottom: 1rem;
      background-color: rgb(254, 251, 249);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        margin-top: 1rem;
        font-size: 2rem;
        color: black;
        font-weight: 900;
      }
      .description {
        margin-top: 1rem;
        font-size: 0.9rem;
        font-weight: 600;
        color: rgba(115, 115, 115, 1);
      }
    }

    .content {
      padding-left: 0rem !important;
      .images-wrapper {
        display: flex;
        flex-wrap: wrap; // Ensures items move to the next row if no space
        // gap: 50px; // Adds space between images
        justify-content: center; // Centers the images horizontally
        // padding: 20px; // Optional padding

        .image-container {
          margin: 0 1.5rem;
          position: relative;
          width: 19.6rem;
          border-radius: 10px; /* Optional for rounded edges */
        }

        .image-container img {
          width: 23.6rem;
          height: 21.4rem;
          display: block;
        }

        .overlay-text {
          position: absolute;
          left: 48%;
          top: 85%;
          transform: translateX(-50%);
          padding: 8px 15px;
          font-size: 1rem;
          font-weight: 700;
          color: white;
          text-align: center;
          border-radius: 5px;
        }
      }
    }
  }
}
