<div class="wrapper">
  <div class="header">
    <div class="title">
      <span>Industries</span>
    </div>
    <div class="description">
      <span
        >Twinpacs Is An Emerging Recruitment Startup With A Dynamic, Experienced
        Team</span
      >
    </div>
  </div>

  <div class="content">
    <div class="images-wrapper">
      <div class="image-container">
        <img
          src="assets/industries/executive-search.jpeg"
          alt="Executive Search"
        />
        <div class="overlay-text">Executive Search</div>
      </div>

      <div class="image-container">
        <img
          src="assets/industries/contract-to-hire.jpeg"
          alt="Executive Search"
        />
        <div class="overlay-text">Contract to Hire</div>
      </div>

      <div class="image-container">
        <img src="assets/industries/permanent.jpeg" alt="Executive Search" />
        <div class="overlay-text">Permanent</div>
      </div>

      <div class="image-container">
        <img
          src="assets/industries/client-hiring.jpeg"
          alt="Executive Search"
        />
        <div class="overlay-text">Client Hiring</div>
      </div>

      <div class="image-container">
        <img
          src="assets/industries/bulk-placements.jpeg"
          alt="Executive Search"
        />
        <div class="overlay-text">Bulk Placements</div>
      </div>

      <div class="image-container">
        <img src="assets/industries/contract.jpeg" alt="Executive Search" />
        <div class="overlay-text">Contract</div>
      </div>
    </div>

    <app-contact-form></app-contact-form>
  </div>
</div>
