<div class="wrapper">
  <div class="header">
    <div class="title">
      <span>Industries</span>
    </div>
    <div class="description">
      <span>Twinpacs Is An Emerging Recruitment Startup With A Dynamic, Experienced
        Team</span>
    </div>
  </div>

  <div class="content">
    <div class="images-wrapper">
      <div class="image-container" *ngFor="let industry of industriesData">
        <img loading="lazy" [src]="industry.imageUrl" alt="data" />
      </div>
    </div>

    <!-- <app-contact-form></app-contact-form> -->
  </div>
</div>