<div class="wrapper">
  <div class="image-section">
    <img src="assets/about-twinpacs.png" alt="" />
  </div>

  <div class="about-twinpacs">
    <div class="header">
      <span class="sp1">About </span> <span class="sp2">TwinPacs</span>
    </div>

    <div class="content">
      <p>
        •We are a results-driven organization, utilizing metrics-based project
        and quality management tools, methodologies, and frameworks to
        consistently enhance performance benefits, reduce risk, and provide
        predictable results. Our solutions are designed to meet the precise
        product design, faster development, or other business-critical outcomes
        client's desire.
      </p>
      <p>
        •Our legacy expertise in embedded systems, enterprise applications, and
        testing serves as a powerful complement to our competencies in digital
        engineering, healthcare, hotel industry, cloud, IoT, cybersecurity,
        BPO’s, Customer Support as well as data engineering services such as
        AI/ML and analytics.
      </p>
      <p>
        •In elevating your organization's talent acquisition endeavors, TWINPACS
        offers a level of confidence and competence that can transform the
        trajectory of your business. We eagerly anticipate the opportunity to
        collaborate with you and contribute to your continued success.
      </p>
    </div>
  </div>
</div>

<div class="mobile-wrapper">
  <div class="header">
    <span class="sp1">About </span> <span class="sp2">TwinPacs</span>
  </div>
  <div class="image-section">
    <img src="../../assets/about-twinpacs.png" alt="" />
  </div>

  <div class="about-twinpacs">
    <div class="content">
      <p>
        •We are a results-driven organization, utilizing metrics-based project
        and quality management tools, methodologies, and frameworks to
        consistently enhance performance benefits, reduce risk, and provide
        predictable results. Our solutions are designed to meet the precise
        product design, faster development, or other business-critical outcomes
        client's desire.
      </p>
      <p>
        •Our legacy expertise in embedded systems, enterprise applications, and
        testing serves as a powerful complement to our competencies in digital
        engineering, healthcare, hotel industry, cloud, IoT, cybersecurity,
        BPO’s, Customer Support as well as data engineering services such as
        AI/ML and analytics.
      </p>
      <p>
        •In elevating your organization's talent acquisition endeavors, TWINPACS
        offers a level of confidence and competence that can transform the
        trajectory of your business. We eagerly anticipate the opportunity to
        collaborate with you and contribute to your continued success.
      </p>
    </div>
  </div>
</div>
