<div class="wrapper">
  <div class="image-section">
    <img src="assets/about-twinpacs.svg" alt="" />
  </div>

  <div class="about-twinpacs">
    <div class="header">
      <span class="sp1">About </span> <span class="sp2">TwinPacs</span>
    </div>

    <div class="content">
      <p>
        Twinpacs is a trusted IT solutions and recruiting company committed to
        helping businesses thrive in the digital age. We specialize in
        delivering custom IT services, including software development, cloud
        solutions, cybersecurity, data analytics, and IT infrastructure
        management. Our expert team works closely with clients to design and
        implement technology strategies that boost efficiency, security, and
        scalability.
      </p>
      <p>
        With a focus on innovation, quality, and collaboration, Twinpacs is your
        partner for driving business growth. We’re dedicated to providing
        tailored, results-driven solutions that help you stay competitive in an
        ever-evolving technology landscape.
      </p>
    </div>

    <div class="get-connected-btn">Get Connected</div>
  </div>
</div>

<div class="mobile-wrapper">
  <div class="header">
    <span class="sp1">About </span> <span class="sp2">TwinPacs</span>
  </div>
  <div class="image-section">
    <img src="assets/about-twinpacs.svg" alt="" />
  </div>

  <div class="about-twinpacs">
    <div class="content">
      <p>
        Twinpacs is a trusted IT solutions and recruiting company committed to
        helping businesses thrive in the digital age. We specialize in
        delivering custom IT services, including software development, cloud
        solutions, cybersecurity, data analytics, and IT infrastructure
        management. Our expert team works closely with clients to design and
        implement technology strategies that boost efficiency, security, and
        scalability.
      </p>
      <p>
        With a focus on innovation, quality, and collaboration, Twinpacs is your
        partner for driving business growth. We’re dedicated to providing
        tailored, results-driven solutions that help you stay competitive in an
        ever-evolving technology landscape.
      </p>
    </div>

    <div style="display: flex; justify-content: center">
      <div class="get-connected-btn">Get Connected</div>
    </div>
  </div>
</div>
