.wrapper {
  // take full width and height of the screen
  background-color: rgb(250, 250, 250);
  height: max-content;
  padding: 8rem 0 0;
  // display flex to align the content
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;

  img {
    width: 28.5rem;
    height: 29.4rem;
  }

  .image-section {
    margin: 0 2rem;
    width: 35%;
    align-self: center;
  }

  .about-twinpacs {
    margin: 0 2rem;
    margin-top: 5%;
    width: 50%;
    min-width: 20rem;
    // width : 32rem;
    height: 29.4rem;
    color: black;
    display: flex;
    font-weight: 700;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    align-items: flex-start;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 1rem 0;
      display: flex;
      font-size: 1.5rem;
      font-weight: 700;

      .sp1 {
        color: black;
      }

      .sp2 {
        color: rgba(232, 111, 37, 1);
      }
    }

    .content {
      margin-bottom: 5rem;


      p {
        text-align: left;
        font-size: 1rem !important;
        color: rgba(115, 115, 115, 1);
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
    }
  }
}

.mobile-wrapper {
  display: none;
}

@media (max-width: 1024px) {
  .wrapper {
    display: none;
  }

  .mobile-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;

    p {
      font-weight: 400;
    }

    img {
      width: 24.8rem;
      height: 23.06rem;
      margin: 1rem 0;
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 1rem 0;
      display: flex;
      font-size: 1.5rem;
      font-weight: 700;

      .sp1 {
        color: black;
      }

      .sp2 {
        color: rgba(232, 111, 37, 1);
      }
    }

    .about-twinpacs {
      padding: 1rem;
      font-weight: 600;
      font-size: 0.8rem;
      color: #2c2c2c;
    }
  }
}