.wrapper {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  // transition: background-color 0.3s ease-in-out,
  //   backdrop-filter 0.3s ease-in-out;

  .logo img {
    height: 6rem;
  }

  &.scrolled {
    background-color: rgba(255, 255, 255, 0.5); // semi-transparent white
    backdrop-filter: blur(6px);
  }
}

/* Transparent Navbar on Scroll */
.wrapper.scrolled {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px); // Smooth blur effect for better visibility
}

/* Navigation Items */
.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
}

.nav-item-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #73737333;
  width: 35px;
  height: 35px;
  border-radius: 50%;

  i {
    color: #19191b;
    font-size: 20px;
  }
}

.nav-item-text {
  color: black;
  margin-left: 0.7rem;
}

/* Active State */
.active-logo {
  background-color: rgba(237, 192, 171, 0.5);

  i {
    color: #e86f25;
  }
}

.active-text {
  font-weight: 400;
  color: #e86f25;
}

/* Mobile Menu Button */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.mobile-nav-items {
  position: absolute;
  top: 100px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-nav-item {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

/* Close Icon */
.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* Login Button */
.login-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  // background-color: #e86f25;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;

  .login-arrow {
    margin-left: 0.5rem;
  }
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {

  /* Hide Navbar items */
  .hide-on-mobile {
    display: none;
  }

  .nav-items,
  .login-btn {
    display: none;
  }

  /* Show Mobile Menu Icon */
  .menu-icon {
    display: block;
  }

  /* Default transparent navbar on mobile */
  .wrapper {
    background: transparent;
  }
}

.nav-hidden {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}