<div class="wrapper">
  <div class="logo">
    <img src="assets/logo1.svg" alt="" />
  </div>
  <div class="nav-items">
    <div class="nav-item" (click)="scrollToSection('services')">
      <div class="nav-item-logo">
        <img src="assets/Stack.svg" alt="" />
      </div>
      <div class="nav-item-text">Services</div>
    </div>
    <div class="nav-item" (click)="scrollToSection('industries')">
      <div class="nav-item-logo"><img src="assets/Factory.svg" alt="" /></div>
      <div class="nav-item-text">Industries</div>
    </div>
    <div class="nav-item" (click)="scrollToSection('careers')">
      <div class="nav-item-logo">
        <img src="assets/Vector.svg" alt="" />
      </div>
      <div class="nav-item-text">Careers</div>
    </div>
    <div class="nav-item" (click)="scrollToSection('contact')">
      <div class="nav-item-logo">
        <img src="assets/Phone.svg" alt="" />
      </div>
      <div class="nav-item-text">Contact</div>
    </div>
  </div>
  <div class="login-btn">
    <div class="login-text">Login</div>
    <div class="login-arrow">
      <div class="arrow">
        <img src="assets//ArrowRight.svg" alt="" />
      </div>
    </div>
  </div>
</div>
