.wrapper {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .nav-items {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-item {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
      .nav-item-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #73737333;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        i {
          color: #19191b;
          font-size: 20px;
        }
      }

      .nav-item-text {
        color: black;
        margin-left: 0.7rem;
      }
    }

    /* Active State */
    .active-logo {
      background-color: rgba(237, 192, 171, 0.5) !important;

      i {
        color: #e86f25 !important;
        font-size: 20px;
      }
    }

    .active-text {
      font-weight: 700;
      color: #e86f25 !important;
    }
  }

  .login-btn {
    display: flex;
    cursor: pointer;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(232, 111, 37, 1);
    width: 5.75rem;
    height: 2.3rem;
    border-radius: 1.5rem;
    color: white;

    .login-text {
      margin-right: 0.5rem;
    }

    .login-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      background-color: white;
    }
  }
}
