<div class="wrapper" [ngClass]="{
  'nav-hidden': !isNavbarVisible,
   'scrolled': scrolled 
  }">
  <div class="logo">
    <img src="assets/logo1.svg" alt="Logo" loading="lazy" />
  </div>

  <!-- Desktop Navigation -->
  <div class="nav-items" [ngClass]="{ 'hide-on-mobile': isMobile }">
    <div class="nav-item" *ngFor="let nav of navItems" [routerLink]="nav.route" routerLinkActive="active">
      <div class="nav-item-logo" [ngClass]="{ 'active-logo': isActive(nav.route) }">
        <i [class]="'ph ' + nav.icon"></i>
      </div>
      <div class="nav-item-text" [ngClass]="{ 'active-text': isActive(nav.route) }">
        {{ nav.text }}
      </div>
    </div>
  </div>

  <!-- Mobile Menu Icon -->
  <div class="menu-icon" (click)="toggleMenu()">
    <i class="ph-bold ph-list"></i>
    <!-- Replace with your preferred icon -->
  </div>

  <!-- Mobile Menu -->
  <div class="mobile-menu" *ngIf="menuOpen">
    <div class="close-icon" (click)="toggleMenu()">
      <i class="ph-bold ph-x"></i>
      <!-- Close button -->
    </div>
    <div class="mobile-nav-items">
      <div class="mobile-nav-item" *ngFor="let nav of navItems" [routerLink]="nav.route" (click)="toggleMenu()">
        {{ nav.text }}
      </div>
    </div>
  </div>

  <div class="login-btn hide-on-mobile">
    <!-- <div class="login-text">Login</div>
    <div class="login-arrow">
      <div class="arrow">
        <i class="ph-bold ph-arrow-right"></i>
      </div>
    </div> -->
  </div>
</div>