<div class="wrapper" [ngStyle]="{ 'background-color': backgroundColor }">
  <div class="logo">
    <img src="assets/logo1.svg" alt="" />
  </div>
  <div class="nav-items">
    <div
      class="nav-item"
      *ngFor="let nav of navItems"
      [routerLink]="nav.route"
      routerLinkActive="active"
    >
      <div
        class="nav-item-logo"
        [ngClass]="{ 'active-logo': isActive(nav.route) }"
      >
        <i [class]="'ph-bold ' + nav.icon"></i>
      </div>
      <div
        class="nav-item-text"
        [ngClass]="{ 'active-text': isActive(nav.route) }"
      >
        {{ nav.text }}
      </div>
    </div>
  </div>
  <div class="login-btn">
    <div class="login-text">Login</div>
    <div class="login-arrow">
      <div class="arrow">
        <img src="assets//ArrowRight.svg" alt="" />
      </div>
    </div>
  </div>
</div>
