.services-wrapper {
  position: relative;
  width: 100%;
  height: 80vh; /* Occupy 80% of the viewport height */
  margin: 10vh 0; /* Leaves 10% space at the top and bottom */
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1; /* Keeps video in the background */
}

.content {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;

  span {
    font-size: 2rem;
  }

  .services {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-direction: row;

    .service {
      margin: 0 2rem;
    }
  }
}

.industries-container {
  color: black;
  text-align: center;
  padding: 50px 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.highlight {
  color: #e67e22;
}

.subtitle {
  font-style: italic;
  color: #666;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.industry-item {
  text-align: center;
  padding: 20px;
}

.icon-wrapper {
  width: 80px;
  height: 80px;
  background: rgba(230, 126, 34, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;

  i {
    color: rgba(232, 111, 37, 1);
    font-size: 2.1rem;
  }
}

.icon-wrapper img {
  width: 30px;
  height: 30px;
}

.industry-title {
  font-size: 18px;
  font-weight: bold;
}

.industry-description {
  font-size: 14px;
  color: #666;
}
