<div class="services-wrapper">
  <video autoplay loop muted playsinline class="bg-video">
    <source src="assets/services-bg.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="content">
    <div>
      <span>Services</span>
    </div>

    <div class="services">
      <div class="service">
        <img src="../../assets/service1.svg" alt="" />
      </div>
      <div class="service">
        <img src="../../assets/service2.svg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="industries-container">
  <h2 class="title">Industries <span class="highlight">we cover</span></h2>
  <p class="subtitle">One stop solution for all needs</p>

  <div class="grid-container">
    <div class="industry-item" *ngFor="let industry of industries">
      <div class="icon-wrapper">
        <i class="ph-bold" [ngClass]="industry.icon"></i>
      </div>
      <h3 class="industry-title">{{ industry.name }}</h3>
      <p class="industry-description">
        Talent mapping, C-suite and Senior Management hiring and pipelining
        talents for future hirings
      </p>
    </div>
  </div>
</div>
