.services-wrapper {
  // background-color: white;
  background-color: rgb(250, 250, 250);
  position: relative;
  width: 100%;
  height: 1000px;
  /* Occupy 80% of the viewport height */
  // margin: 0 0 10vh;
  /* Leaves 10% space at the top and bottom */
  overflow: hidden;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1rem 0;
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;

    .sp1 {
      color: black;
      white-space: pre;
    }

    .sp2 {
      color: rgba(232, 111, 37, 1);
    }
  }
}

.apply-icon {
  display: flex;
  justify-content: end;
}

.ph-bold {
  font-weight: bolder;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  // transform: scale(1);
  // z-index: -1;/* Keeps video in the background */
}

.content {
  margin-top: 9.5rem;
  position: relative;
  z-index: 1;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  text-align: center;

  span {
    font-size: 2rem;
  }

  .services {
    align-items: stretch !important;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    @media (max-width: 1024px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* Change to column to stack images */
      align-items: center;
      gap: 2rem;
      /* Space between images */
      padding-bottom: 1.5rem;
    }

    .header {
      display: flex;
      justify-content: start;
    }

    .service {
      padding: 25px;
      // min-height: 327px;
      height: 45vh;
      width: 42%;
      font-size: 1.15rem;
      // min-width: 526px;
      border-radius: 15px;
      // background: rgba(232, 111, 37, 0.2);
      background: rgba(230, 124, 58, 0.2);

      backdrop-filter: blur(5px);
      margin: 0 2rem;
      cursor: pointer;
      text-align: left;

      @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: auto;
      }
    }
  }
}

@media (max-width: 1024px) {
  .services-wrapper {
    background-color: white;
    position: relative;
    width: auto;
    height: max-content;
    /* Occupy 80% of the viewport height */
    overflow-x: hidden;
    margin: 0;
  }

  .bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    // z-index: -1; /* Keeps video in the background */
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-align: center;
    padding-top: 0;

    span {
      font-size: 2rem;
    }

    .services {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* Change to column to stack images */
      align-items: center;
      gap: 2rem;
      /* Space between images */
      padding-bottom: 1.5rem;
    }

    .service {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .service img {
      width: 90%;
      height: auto;
    }
  }
}