<div class="services-wrapper">
  <img class="bg-video" loading="lazy" src="assets/services-bg.png" />
  <div class="content">
    <div class="header">
      <span class="sp1">Our </span> <span class="sp2">Services</span>
    </div>
    <div class="services">
      <div class="service" (click)="navigateTo(1)">
        <div class="apply-icon">
          <i class="ph-bold ph-arrow-up-right"></i>
        </div>
        <div class="header">IT Solutions</div>
        <div class="description">
          Our IT team is deployed across leading MNCs, bringing expertise in delivering innovative technology solutions
          that streamline operations and enhance productivity. From system integration to cutting-edge digital
          transformations, we provide scalable IT services designed to support businesses in navigating today’s
          fast-paced tech landscape. Whether it’s consulting, infrastructure management, or software development, our
          team’s expertise ensures your business stays ahead of the curve.
        </div>
      </div>
      <div class="service" (click)="navigateTo(2)">
        <div class="apply-icon">
          <i class="ph-bold ph-arrow-up-right"></i>
        </div>
        <div class="header">Staffing Solutions</div>
        <div class="description">At TwinPacs, we take pride in our skilled recruitment teams based in India and
          Malaysia, covering key markets across the APAC region and the Middle East with deep expertise in local and
          international talent sourcing, we connect business with top-tier professionals across industries, ensuring the
          right fit for both the role and company culture.</div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="services-wrapper">
  <video autoplay loop muted playsinline class="bg-video">
    <source src="assets/services-bg.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="content">
    <div style="font-size: 1.5rem">
      <span>Services</span>
    </div>

    <div class="services">
      <div class="service">
        <img loading="lazy" src="assets/service1.png" alt="" [routerLink]="['/services']" />
      </div>
      <div class="service">
        <img loading="lazy" src="assets/service2.png" alt="" [routerLink]="['/services']" />
      </div>
    </div>
  </div>
</div> -->