<div class="services-wrapper">
  <video autoplay loop muted playsinline class="bg-video">
    <source src="assets/services-bg.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="content">
    <div style="font-size: 1.5rem">
      <span>Services</span>
    </div>

    <div class="services">
      <div class="service">
        <img src="assets/service1.png" alt="" />
      </div>
      <div class="service">
        <img src="assets/service2.png" alt="" />
      </div>
    </div>
  </div>
</div>
