<div class="wrapper">
  <div class="header">
    <div class="title">
      <span>Careers</span>
    </div>
    <div class="description">
      <span
        >Start doing work that matters, passionate people and foster a culture
        that empowers you to do your best work.</span
      >
    </div>
  </div>

  <div class="content">
    <div class="careers-wrapper">
      <div class="job-card" *ngFor="let job of jobListings">
        <div class="job-card-content">
          <div class="job-title">{{ job.title }}</div>
          <p class="job-description">
            {{ job.description }}
          </p>
          <div class="job-details">
            <div class="job-info">
              <i class="ph-bold ph-clock"></i>
              <span>{{ job.jobType }}</span>
            </div>
            <div class="job-info">
              <i class="ph-bold ph-map-pin"></i>
              <span>{{ job.location }}</span>
            </div>
            <div class="job-info">
              <i class="ph-bold ph-factory"></i>
              <span>{{ job.company }}</span>
            </div>
          </div>
        </div>
        <div class="apply-icon">
          <i class="ph-bold ph-arrow-up-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
