<div class="wrapper">
  <div class="header">
    <div class="title">
      <span>Services</span>
    </div>
    <div class="description">
      <span>Twinpacs Is An Emerging Recruitment Startup With A Dynamic, Experienced
        Team</span>
    </div>
  </div>

  <div class="content">
    <div>
      <h2>IT Solutions</h2>
    </div>

    <div class="solutions">
      <div class="solution-row">
        <div class="image-container">
          <img src="assets/it-solutions/artificial-intelligence.jpeg" alt="Artificial Intelligence" />
          <div class="overlay-text">Artificial Intelligence</div>
        </div>
        <div class="image-container right">
          <img src="assets/it-solutions/cognitive-operations.jpeg" alt="Artificial Intelligence" />
          <div class="overlay-text">Cognitive Business Operations</div>
        </div>
      </div>
      <div class="solution-row">
        <div class="image-container">
          <img src="assets/it-solutions/consulting.jpeg" alt="Artificial Intelligence" />
          <div class="overlay-text">Consulting</div>
        </div>
        <div class="image-container right">
          <img src="assets/it-solutions/cyber-security.jpeg" alt="Artificial Intelligence" />
          <div class="overlay-text">Cybersecurity</div>
        </div>
      </div>
      <div class="solution-row">
        <div class="image-container">
          <img src="assets/it-solutions/data-analytics.jpeg" alt="Artificial Intelligence" />
          <div class="overlay-text">Data & Analytics</div>
        </div>
        <div class="image-container right">
          <img src="assets/it-solutions/enterprise-solutions.jpeg" alt="Artificial Intelligence" />
          <div class="overlay-text">Enterprise Solutions</div>
        </div>
      </div>
      <div class="solution-row">
        <div class="image-container">
          <img src="assets/it-solutions/iot.jpeg" alt="Artificial Intelligence" />
          <div class="overlay-text">IOT and Digital Engineering</div>
        </div>
        <div class="image-container right">
          <img src="assets/it-solutions/sustainability.jpeg" alt="Artificial Intelligence" />
          <div class="overlay-text">Sustainability Services</div>
        </div>
      </div>
    </div>
  </div>
</div>