<div class="testimonial-container">
  <h2 class="testimonial-title">Testimonials</h2>

  <div class="testimonial-content">
    <p>
      {{ testimonials[currentTestimonial].text }}
    </p>
  </div>

  <div class="testimonial-author">
    <strong>{{ testimonials[currentTestimonial].author }}</strong>
    <span>{{ testimonials[currentTestimonial].designation }}</span>
  </div>

  <div class="testimonial-nav">
    <span *ngFor="let _ of testimonials; let i = index" class="dot" [class.active]="i === currentTestimonial"
      (click)="showTestimonial(i)">
    </span>
  </div>
</div>