<div class="video-container">
  <video autoplay muted loop playsinline id="bg-video">
    <source src="assets/home-bg-animation.mp4" type="video/mp4" />
  </video>
</div>

<div class="content">
  <app-nav-bar></app-nav-bar>

  <div class="staffing-container">
    <div class="text-section">
      <div class="cont">
        <div>
          <h1>
            Industry Leading Managed <br />
            <span class="highlight">Staffing Solutions</span>
          </h1>
        </div>
        <div class="des">
          <p>
            We Are A Results-Driven Organization, Utilizing Metrics-Based
            Project And Quality Management Tools, Methodologies, And Frameworks
            To Consistently Enhance Performance Benefits, Reduce Risk, And
            Provide Predictable Results.
          </p>
        </div>
      </div>
      <div>
        <button class="cta-button">Get Connected</button>
      </div>
    </div>

    <div class="image-section">
      <div class="top-image">
        <video autoplay muted loop playsinline id="vd1">
          <source
            src="assets/People_Currency Signs_1920x1080.mp4"
            type="video/mp4"
          />
        </video>
      </div>
      <div class="bottom-images">
        <video autoplay muted loop playsinline id="vd2">
          <source
            src="assets/Teamwork_Collaboration_3840x2160.mp4"
            type="video/mp4"
          />
        </video>
        <video autoplay muted loop playsinline id="vd2">
          <source src="assets/Businesswoman_1920x1080.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="ctr">
        <div class="circle"></div>
        <div class="rounded-bar"></div>
      </div>
    </div>
  </div>

  <div class="why-twinpacs">
    <div class="header">
      <h6>WHY TWINPACS</h6>
    </div>

    <div class="des">
      <div class="head-text">
        <span><p>Experience that grows with your scale.</p></span>
      </div>
      <div class="head-des">
        <span>
          <p>
            We a Results-Drive Organization, Utilizing Metrics-Based Project Ans
            Quality Management Tools, Methodologies
          </p>
        </span>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <div>
          <h3>Expertise IT Solutions</h3>
        </div>
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
          "
        >
          <div class="bar"></div>
          <div style="display: flex; align-self: center">
            <p>
              We Are A Results-Driven Organization, Utilizing Metrics-Based
              Project<br />
              And Quality Management Tools, Methodologies
            </p>
          </div>
        </div>
      </div>
      <div class="icon">
        <img src="assets/ArrowUpRight.svg" alt="" />
      </div>
    </div>

    <div class="qualities">
      <div class="quality-row">
        <div class="quality">
          <span> Comprehensive recruiting Services </span>
          <span class="icon"><i class="ph-bold ph-arrow-down-right"></i></span>
        </div>
        <div class="quality">
          <span> Personlized Approach </span>
          <span class="icon"><i class="ph-bold ph-arrow-down-right"></i></span>
        </div>
      </div>
      <div class="quality-row">
        <div class="quality">
          <span> Agility & Flexibility </span>
          <span class="icon"><i class="ph-bold ph-arrow-down-right"></i></span>
        </div>
        <div class="quality">
          <span> End-to-end Support </span>
          <span class="icon"><i class="ph-bold ph-arrow-down-right"></i></span>
        </div>
      </div>
      <div class="quality-row">
        <div class="quality">
          <span> Commitment to Quality </span>
          <span class="icon"><i class="ph-bold ph-arrow-down-right"></i></span>
        </div>
        <div class="quality">
          <span> Innovative and Forward-Thinking </span>
          <span class="icon"><i class="ph-bold ph-arrow-down-right"></i></span>
        </div>
      </div>
    </div>
  </div>

  <app-about-twinpacs> </app-about-twinpacs>

  <app-services id="services"> </app-services>
  <app-industries-covered id="industries"></app-industries-covered>
  <app-hirings id="careers"></app-hirings>
  <app-partner-with-us> </app-partner-with-us>
  <app-testimonials></app-testimonials>
  <app-contact-form id="contact"></app-contact-form>
  <app-it-services></app-it-services>

  <app-about></app-about>
</div>
