<div class="web-wrapper">
  <div class="video-container">
    <video autoplay muted loop playsinline id="bg-video">
      <source src="assets/home-bg-animation.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="content">
    <div class="staffing-container">
      <div class="text-section">
        <div class="cont">
          <div>
            <h1>
              Industry Leading Managed <br />
              <span class="highlight">Staffing Solutions</span>
            </h1>
          </div>
          <div class="des">
            <p>
              Twinpacs is an emerging recruitment company, positioned as a
              startup with a dynamic and highly experienced team. Despite its
              early-stage status, Twinpacs is backed by individuals who bring a
              wealth of expertise and a strong track record in the industry. The
              team’s collective experience and potential set the foundation for
              rapid growth and innovative solutions in recruitment. Twinpacs is
              committed to reshaping the recruitment landscape with a fresh
              approach, leveraging the skills and vision of its seasoned
              professionals to deliver exceptional talent solutions to clients
              across various sectors and Various locations across the globe
            </p>
          </div>
        </div>
        <div>
          <button class="cta-button">Get Connected</button>
        </div>
      </div>

      <div class="image-section">
        <div class="top-image">
          <video autoplay muted loop playsinline id="vd1">
            <source
              src="assets/People_Currency Signs_1920x1080.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <div class="bottom-images">
          <video autoplay muted loop playsinline id="vd2">
            <source
              src="assets/Teamwork_Collaboration_3840x2160.mp4"
              type="video/mp4"
            />
          </video>
          <video autoplay muted loop playsinline id="vd2">
            <source src="assets/Businesswoman_1920x1080.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="ctr">
          <div class="circle"></div>
          <div class="rounded-bar"></div>
        </div>
      </div>
    </div>

    <div class="why-twinpacs">
      <div class="header">
        <h6>WHY TWINPACS</h6>
      </div>

      <div class="des">
        <div class="head-text">
          <span><p>Experience that grows with your scale.</p></span>
        </div>
        <div class="head-des">
          <span>
            <p>
              We a Results-Drive Organization, Utilizing Metrics-Based Project
              Ans Quality Management Tools, Methodologies
            </p>
          </span>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div>
            <h3>Expertise IT Solutions</h3>
          </div>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              align-content: center;
            "
          >
            <div class="bar"></div>
            <div style="display: flex; align-self: center">
              <p>
                We Are A Results-Driven Organization, Utilizing Metrics-Based
                Project<br />
                And Quality Management Tools, Methodologies
              </p>
            </div>
          </div>
        </div>
        <div class="icon">
          <img src="assets/ArrowUpRight.svg" alt="" />
        </div>
      </div>

      <div class="qualities">
        <div class="quality-row">
          <div class="quality">
            <span> Comprehensive recruiting Services </span>
            <span class="icon"
              ><i class="ph-bold ph-arrow-down-right"></i
            ></span>
          </div>
          <div class="quality">
            <span> Personlized Approach </span>
            <span class="icon"
              ><i class="ph-bold ph-arrow-down-right"></i
            ></span>
          </div>
        </div>
        <div class="quality-row">
          <div class="quality">
            <span> Agility & Flexibility </span>
            <span class="icon"
              ><i class="ph-bold ph-arrow-down-right"></i
            ></span>
          </div>
          <div class="quality">
            <span> End-to-end Support </span>
            <span class="icon"
              ><i class="ph-bold ph-arrow-down-right"></i
            ></span>
          </div>
        </div>
        <div class="quality-row">
          <div class="quality">
            <span> Commitment to Quality </span>
            <span class="icon"
              ><i class="ph-bold ph-arrow-down-right"></i
            ></span>
          </div>
          <div class="quality">
            <span> Innovative and Forward-Thinking </span>
            <span class="icon"
              ><i class="ph-bold ph-arrow-down-right"></i
            ></span>
          </div>
        </div>
      </div>
    </div>

    <app-about-twinpacs> </app-about-twinpacs>

    <app-services id="services"> </app-services>
    <app-industries-covered id="industries"></app-industries-covered>
    <app-hirings id="careers"></app-hirings>
    <app-partner-with-us> </app-partner-with-us>
    <app-testimonials></app-testimonials>
    <app-contact-form></app-contact-form>
    <app-it-services></app-it-services>
  </div>
</div>

<div class="mobile-wrapper">
  <div class="content-wrapper">
    <div>
      <h1>
        Industry Leading Managed <br />
        <span class="highlight">Staffing Solutions</span>
      </h1>
    </div>
    <div class="des">
      <p>
        Twinpacs is an emerging recruitment startup with a dynamic, experienced
        team. Backed by industry experts, the company is poised for rapid
        growth, offering innovative talent solutions across global sectors.
        Committed to reshaping the recruitment landscape, Twinpacs delivers
        exceptional results through its skilled professionals.
      </p>
    </div>

    <div class="video">
      <video autoplay muted loop playsinline id="vd2">
        <source
          src="assets/Teamwork_Collaboration_3840x2160.mp4"
          type="video/mp4"
        />
      </video>
    </div>

    <div class="toggle-container">
      <div class="circle"></div>
      <div class="rectangle"></div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center">
      <button class="cta-button">Get Connected</button>
    </div>

    <div class="data">
      <div class="head-text">
        <span><p>Experience that grows with your scale.</p></span>
      </div>
      <div class="head-des">
        <span>
          <p>
            We a Results-Drive Organization, Utilizing Metrics-Based Project Ans
            Quality Management Tools, Methodologies
          </p>
        </span>
      </div>
      <div class="qualities" *ngFor="let quality of qualities">
        <div class="quality-row">
          <div class="quality">
            <span> {{ quality }} </span>
            <span class="icon"
              ><i class="ph-bold ph-arrow-down-right"></i
            ></span>
          </div>
        </div>
      </div>
    </div>

    <video autoplay loop muted playsinline class="bg-video">
      <source src="assets/home-bg-animation.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="content"></div>
  </div>

  <app-about-twinpacs> </app-about-twinpacs>
  <app-services id="services"> </app-services>
  <app-industries-covered id="industries"></app-industries-covered>
  <app-hirings id="careers"></app-hirings>
  <app-partner-with-us> </app-partner-with-us>
  <app-testimonials></app-testimonials>
  <app-contact-form></app-contact-form>
  <app-it-services></app-it-services>
</div>
