.jobs-section {
  background-color: #220f33;
  color: white;
  text-align: center;
  padding: 50px;
  position: relative;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff8c32;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 3px;
      background-color: #ff8c32;
      margin: 1rem auto 0;
    }
  }

  .job-cloud {
    position: relative;
    width: 100%;
    height: 60vh;
  }

  .job {
    position: absolute;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.2s;

    &:hover {
      color: white;
      font-weight: bold;
      transform: scale(1.2);
      animation: dance 0.5s infinite alternate ease-in-out;
    }
  }

  // Hover effect to fade out other words
  .job-cloud:hover .job {
    color: rgba(255, 255, 255, 0.3);
  }

  .job-cloud .job:hover {
    color: white;
  }
}

// Keyframe animation for subtle dancing effect
@keyframes dance {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-5px) rotate(-2deg);
  }
  100% {
    transform: translateY(5px) rotate(2deg);
  }
}
